<!DOCTYPE html>
<html lang="es">

<head>
    {{>head}}
    <link rel="stylesheet" href="/styles/product_style.css">
    <script src="https://code.createjs.com/easeljs-0.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https:////cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>

<body>
    <div class="wrapper">
        {{>header}}
    </div>
    {{#each productos}}
    <div class="breadcrumbs">
        <div class="content">
            <div class="breadcrumbs_wrapper">
                <span><a href="/">Inicio</a> <i class="fas fa-angle-right"></i> <a href="/optics">Óptica</a> <i class="fas fa-angle-right"></i>
                    <strong>{{name}} {{ref}}</strong></span>
                <div class="carrito_wrap">
                    <a href="/checkout">
                        <span class="checkout">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="quantity"></span>
                        </span>
                    </a>
                    <span class="carrito"></span>
                    <span class="clear_carrito"><i class="fas fa-trash-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <section class="product_detail_wrap">
        <div class="content">
            <section class="product_detail">
                <article class="product_detail__img_wrapper">
                    <div class="ppal_img">
                        <img src="{{img_a}}" alt="">
                    </div>
                    <div class="other_images">
                        <div class="active">
                            <img src="{{img_a}}" alt="">
                        </div>
                        <div>
                            <img src="{{img_b}}" alt="">
                        </div>
                    </div>
                </article>
                <article class="product_detail__info">
                    <h2 class="info__title">{{name}} {{ref}}</h2>
                    <h3 class="info__price">{{price}}</h3>
                    <p class="info__description">{{description}}</p>
                    <div class="buttons">
                        <button data-name="{{this.name}} {{this.ref}}" data-price="{{this.price}}" data-img="{{this.img_a}}"
                            class="addtocart">Agregar al Carrito</button>
                        <a href="/checkout">
                            <button>Ir a checkout</button>
                        </a>
                    </div>
                </article>
            </section>

            <section class="view360_section">
                <div class="titulo360">
                    <div class="icono_360">
                        <img src="/icons/360view.png" alt="">
                    </div>
                    <h1 style="color: #00c8d5">360 view</h1>
                    <p>Da click y arrastra el cursor para ver cada detalle</p>
                </div>

                <div class="product_360">
                    <canvas id="360viewer" width="800" height="500"></canvas>
                </div>
            </section>

            <section class="zoom_section">
                <div class="putglasses">
                    <div class="glasses">
                        <img src="/img/gafas.png" alt="">
                    </div>
                </div>

                <button class="tryOn_button">Prueba los lentes aquí</button>

                <section class="baslider_section">
                    <div class="titulos">
                        <ul>
                            <li>
                                <h1>Tu visión normal</h1>
                            </li>
                            <li>
                                <h1>Tu visión con Lentes Tayle</h1>
                            </li>
                        </ul>
                    </div>
                    <div class="ba-slider">
                        <img src="/img/imagenBien.jpg" alt="">
                        <div class="resize">
                            <img src="/img/imagenOpaca.jpg" alt="">
                        </div>
                        <span class="handle"></span>
                    </div>
                </section>

            </section>





        </div>
    </section>

    {{/each}}
    <div class="wrapper">
        {{>footer}}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>

    <script src="/scripts/baslider.js"></script>
    <script src="/scripts/scroll.js"></script>
    <script src="/scripts/index-view.js"></script>
    <script src="/scripts/cart.js"></script>
    <script src="/scripts/product.js"></script>
</body>

</html>